<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="/script/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./bootstrapt/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <title>Log In</title>
    <style>
        .main_container {
            border: 0px solid;
        }

        .form_container {
            width: 300px;
            margin: auto;
        }

        .form_submit_button {
            width: 100%;
            height: 44px;
            background-color: #6975a1;
            border: 1px;
            border-radius: 3px;
            color: white;
            font-size: 17px;
            font-weight: 500;
        }

        .form_submit_button2 {
            margin-top: 10px;
            width: 100%;
            height: 44px;
            background-color: #bbcad8;
            border: 1px;
            border-radius: 3px;
            color: white;
            font-size: 17px;
            font-weight: 500;
        }
    </style>
    <script>
        $(function () {
            $(".form_submit_button").click(function () {
                var id = "<%= user[0].email%>";
                var pass = "<%= user[0].password%>";
                var userId = $("#exampleInputEmail1").val();
                var userPass = $("#exampleInputPassword1").val();

                if (userId == null) {
                    alert("로그인 실패");
                } else {
                    if (id == userId) {
                        if (pass == userPass) {
                            login = 1;
                            alert("로그인 성공");
                            document.location.href = "/view";
                        } else {
                            alert("비밀번호 틀림");
                        }
                    } else {
                        alert("아이디 틀림");
                    }
                }
            });
        });
        $(function () {
            $(".form_submit_button2").click(function () {
                document.location.href = "/sign";
            });
        });
    </script>
</head>

<body>
    <div id="container" class="main_container">
        <div style="padding: 20px;"></div>
        <div class="login_container">
            <div class="form_container">
                <div class="form-group">
                    <label for="exampleInputEmail1">ID</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">aaa@123</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                    <small id="passlHelp" class="form-text text-muted">1234</small>
                </div>
                <div style="height: 10px;"></div>
                <div>
                    <button type="button" class="form_submit_button" id="btn">LOG IN</button>
                </div>
                <div>
                    <button type="button" class="form_submit_button2" id="btn">SIGN IN</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>