<html>

<head>
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="/script/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./bootstrapt/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #DAE0E6;
        }

        .feed {
            height: 500px;
            width: 500px;
            border-radius: 10%;
            margin: 7px auto;
        }

        .date {
            color: #999;
            margin-bottom: 10px;
        }

        .content {
            border-top: 1px solid #eee;
            margin-top: 5px;
        }

        .accessory {
            border-top: 1px solid #eee;
            padding-top: 10px;
            margin-top: 10px;
            color: #999;
            font-size: 14px;
        }

        .userimg2 {
            margin: 7px 0px;
        }

        .container.CloseModal {
            display: none;
        }

        .name {
            margin-top: 100px;
        }
    </style>
    <script>
        $(function () {
            $(".home").click(function () {
                document.location.href = "/view";
            });
        });
        $('#myDropdown').on('show.bs.dropdown', function () {
            $('.dropdown-toggle').dropdown()
        });
        $(function () {
            $('.search').click(function () {
                document.location.href = "/view";
            });
        });  
    </script>
</head>

<body>
    <div class="header">
        <div class="home">
            <img src="/public/assets/home.png" width="50px">
        </div>
        <div class="search">
            <input type="text" class="searchbar" id="search" onkeyup="filter()" placeholder="Search" name="searcword">
            <a href="/view"><button type="submit" id="sbtn" class="btn btn-outline-secondary">search</button></a>
        </div>
        <div class="button">
            <button type="button" id="logbtn" class="btn btn-outline-secondary" onclick="location='/'">Log out</button>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/public/assets/user.png" class="userimg" width="50px">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="/write">write</a></li>
                    <li><a class="dropdown-item" href="/info"> info</a></li>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="feed" style="text-align: center;">
            <p style="text-align: center;">
                <img src="/public/assets/user.png" class="userimg2" width="150px">
            </p>
            <h3 class="name">Name : <%= user[0].name %>
            </h3>
            <h3>ID : <%= user[0].email %>
            </h3>
            <h3>Password : ****</h3>
        </div>
    </div>
    </div>
</body>

</html>