<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="/script/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./bootstrapt/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <title>Sign In</title>
    <style>
        .main_container {
            border: 0px solid;
        }

        .form_container {
            width: 300px;
            margin: auto;
        }

        .form_submit_button {
            width: 100%;
            height: 44px;
            background-color: #6975a1;
            border: 1px;
            border-radius: 3px;
            color: white;
            font-size: 17px;
            font-weight: 500;
        }
    </style>
    <script>
        $(function () {
            $(".form_submit_button").click(function () {
                var email = document.getElementById('exampleInputPassword').value;
                alert(email);
                document.location.href = "/";
            });
        });

        function signin() {
            $.ajax({
                url: "/addUser",
                method: "POST",
                data: {
                    "name": document.getElementById("exampleInputName").value,
                    "email": document.getElementById("exampleInputEmail").value,
                    "password": document.getElementById("exampleInputPassword").value
                }
            });
            document.location.href = "/";
        }

    </script>
</head>

<body>
    <div id="container" class="main_container">
        <div style="padding: 20px;"></div>
        <div class="login_container">
            <div class="form_container">
                <div class="form-group">
                    <label for="exampleInputName1">Name</label>
                    <input type="name" class="form-control" id="exampleInputName">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword">
                </div>
                <div>
                    <button type="button" class="form_submit_button" id="signbtn" onclick="signin()">SIGN IN</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>