<html>

<head>
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="/script/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="./bootstrapt/js/bootstrap.min.js"></script>
</head>
<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #DAE0E6;
    }

    .deletebtn {
        float: right;
        margin-right: 10px;
    }

    .edtbtn {
        float: right;
        margin-right: 10px;
    }

    .comment {
        margin-top: 100px;
    }

    #cbtn {
        margin-top: 10px;
    }

    #editbtn {
        width: 70px;
        margin-bottom: 5px;
        float: right;
    }

    #deletebtn {
        width: 70px;
        float: right;
    }
</style>
<script>
    $(function () {
        $('.search').click(function () {
            document.location.href = "/view";
        });
    });

    $(function () {
        $(".home").click(function () {
            document.location.href = "/view";
            //alert(id);
        });
    });
    $('#myDropdown').on('show.bs.dropdown', function () {
        $('.dropdown-toggle').dropdown()
    });

    var today = new Date();
    var nowYear = today.getFullYear();
    var nowMonth = today.getMonth() + 1;
    var nowDate = today.getDate();


    function commentPost(postid, cid) {
        $.ajax({
            url: "/postComment/" + postid,
            method: "POST",
            data: {
                "id": Number(cid) + 1,
                "user": '<%= user[0].name%>',
                "comment": document.getElementById("comment").value,
                "cdate": nowYear + "." + nowMonth + "." + nowDate
            }
        });
        document.location.href = "/get/" + '<%= movie[0].id %>';
        //document.location.href =  "/postComment/" + postid;
    }

    function deletecomment(postid, commentid, user) {
        var userId = '<%= user[0].name %>';
        var user = user;
        if (userId == user) {
            $.ajax({
                url: "/deleteComment/" + postid + "?commentid=" + commentid,
                method: "DELETE"
            });
            document.location.href = "/get/" + '<%= movie[0].id %>';
        } else {
            alert("삭제 불가능");
        }
    };

    function editcomment(postid) {
        var userId = '<%= user[0].name%>';
        var user = document.getElementById("user").value
        var cid = document.getElementById("cid").value
        if (userId == user) {
            $.ajax({
                url: "/editComment/" + postid + "?commentid=" + cid,
                method: "PUT",
                data: {
                    "comment": document.getElementById("message-text").value,
                    "cdate": nowYear + "." + nowMonth + "." + nowDate
                }
            });
            document.location.href = "/get/" + '<%= movie[0].id %>';
        } else {
            alert("수정 불가능");
        }
    };

    $(function () {
        $("#mclose").click(function () {
            $('#exampleModal').modal('hide');
        });
    });

    function modal(commentdata, commentid, user) {
        $('#exampleModal').modal('show');
        document.getElementById("message-text").value = commentdata;
        document.getElementById("cid").style.visibility = "hidden"
        document.getElementById("cid").value = commentid;
        document.getElementById("user").style.visibility = "hidden"
        document.getElementById("user").value = user;
    }
</script>

<body>
    <div class="header">
        <div class="home">
            <img src="/public/assets/home.png" width="50px">
        </div>
        <div class="search">
            <input type="text" class="searchbar" id="search" placeholder="Search">
            <button type="submit" id="sbtn" class="btn btn-outline-secondary">search</button>
        </div>
        <div class="button">
            <button type="button" id="logbtn" class="btn btn-outline-secondary" onclick="location='/'">Log out</button>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/public/assets/user.png" class="userimg" width="50px">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="/write">write</a></li>
                    <li><a class="dropdown-item" href="/info"> info</a></li>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="feed" id="f0">
            <p class="title">제목 : <%= movie[0].title %>
            </p>
            <p class="content">
                <img src=<%=movie[0].poster %> width="200px" class="url">
                <br><br><br>내용
                <hr>
                <%= movie[0].article %> <br><br>
            </p>
            <div class="accessory">
                <img src="/public/assets/love.png" width="12px"> Like <img src="/public/assets/comment.png"
                    width="15px">Comments
                <div class="date">날짜 : <%= movie[0].date %>
                </div>
            </div>

            <div class="comment">
                <h2>Comments</h2>
                <table class="table table-striped">
                    <tbody>
                        <% var num=movie[0].comment.length; %>
                            <% postid=movie[0].id%>
                                <% for(var i=0; i<num; i++){ %>
                                    <tr>
                                        <th scope="row" width="60px">uesr <br>
                                            <%= movie[0].comment[i].user %>
                                        </th>
                                        <td colspan="1">
                                            <% var commentdata=movie[0].comment[i].comment %>
                                                <% var user=movie[0].comment[i].user %>
                                                    <% var commentid=movie[0].comment[i].id %>
                                                        <%= commentdata %>
                                        </td>
                                        <th scope="row" width="90px">date <br>
                                            <%= movie[0].comment[i].cdate %>
                                                <% var cid=movie[0].comment[i].id %>
                                        </th>
                                        <th width="80px">
                                            <% var cid=movie[0].comment[i].id %>
                                                <button type="button" class="btn btn-outline-secondary" id="editbtn"
                                                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                    onclick="modal('<%=commentdata%>', '<%=commentid %>','<%= user%>')">edit</button><br>
                                                <button type="button" id="deletebtn" class="btn btn-outline-secondary"
                                                    onclick="deletecomment('<%= postid%>', '<%=commentid %>','<%= user%>')">delete</button>



                                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Edit
                                                                    Comment</h5>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="mb-3">
                                                                    <label for="message-text"
                                                                        class="col-form-label">Comment:</label>
                                                                    <textarea class="form-control"
                                                                        id="message-text"></textarea>
                                                                    <textarea class="form-control" id="cid"></textarea>
                                                                    <textarea class="form-control" id="user"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal" id="mclose">Close</button>
                                                                <button type="button" class="btn btn-primary"
                                                                    onclick="editcomment('<%= postid%>')">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </th>
                                    </tr>

                                    <% } %>
                    </tbody>
                </table>
            </div>
            <hr>
            <textarea class="form-control" id="comment" type="text" rows="3" name="comment" required></textarea>
            <button type="button" id="cbtn" class="btn btn-outline-secondary"
                onclick="commentPost('<%= postid %>','<%= cid %>')">comment</button>
        </div>
    </div>
</body>