<html>

<head>
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="/script/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./bootstrapt/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <title>Home</title>
</head>
<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #DAE0E6;
    }

    .btndiv {
        height: 50px;
    }

    #editbtn {
        margin-right: 10px;
    }
</style>
<script>
    $(function () {
        $('#sbtn').click(function () {
            let search = document.getElementById("search").value.toLowerCase();
            let feed = document.getElementsByClassName("feed");

            for (let i = 0; i < feed.length; i++) {
                content = feed[i].getElementsByClassName("content");
                title = feed[i].getElementsByClassName("title");
                if (content[0].innerHTML.toLowerCase().indexOf(search) != -1 || title[0].innerHTML.toLowerCase().indexOf(search) != -1) {
                    feed[i].style.display = "block"
                } else {
                    feed[i].style.display = "none"
                }
            }
        })
    });

    $('#myDropdown').on('show.bs.dropdown', function () {
        $('.dropdown-toggle').dropdown()
    });

    $(function () {
        $(".home").click(function () {
            document.location.href = "/view";
        });
    });

    function deletePost(postid) {
        $.ajax({
            url: "/deletePost/" + postid,
            method: "DELETE"
        });
        document.location.href = "/view";
    };
</script>

<body>
    <div class="header">
        <div class="home">
            <img src="/public/assets/home.png" width="50px">
        </div>
        <div class="search">
            <input type="text" class="searchbar" id="search" onkeyup="filter()" placeholder="Search">
            <button type="submit" id="sbtn" class="btn btn-outline-secondary">search</button>
        </div>
        <div class="button">
            <button type="button" id="logbtn" class="btn btn-outline-secondary" onclick="location='/'">Log out</button>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/public/assets/user.png" class="userimg" width="50px">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="/write">write</a></li>
                    <li><a class="dropdown-item" href="/info"> info</a></li>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="btn-group" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-expanded="false">
                    정렬
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">최신순</a></li>
                    <li><a href="#">오래된순</a></li>
                </ul>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-expanded="false">
                    기간
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">최신순</a></li>
                    <li><a href="#">오래된순</a></li>
                </ul>
            </div>
        </div>
        <% var num=movie.length;%>
            <% for (var i=0; i<num ; i++) { %>
                <div class="feed">
                    <div class="feed2" onclick="location='/get/'+'<%= movie[i].id %>'">
                        <p class="title">제목 : <%= movie[i].title %>
                                <p class="content">
                                    <img src=<%=movie[i].poster %> width="200px" class="url">
                                    <br><br><br>내용
                                    <hr><br>
                                    <%=movie[i].article %>
                                        <br><br>
                                </p>
                    </div>
                    <div class="accessory">
                        <img src="/public/assets/love.png" width="12px"> Like <img src="/public/assets/comment.png"
                            width="15px">Comments
                    </div>
                    <div class="date">날짜 : <%= movie[i].date %>
                            <% var postid=movie[i].id%>
                    </div>
                    <div class="btndiv">
                        <button type="button" id="deletebtn" class="btn btn-outline-secondary" style="float: right;"
                            onclick="deletePost('<%= postid %>')">delete</button>
                        <button type="button" id="editbtn" class="btn btn-outline-secondary" style="float: right;"
                            onclick="location='/edit/'+'<%= movie[i].id %>'">edit</button>
                    </div>
                </div>
                <% } %>
    </div>
</body>