<html>

<head>
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="javaScript" src="style.css"></script>
    <style>
        .wrap {
            width: 800px;
            margin: auto;
        }

        .form-group {
            margin-top: 30px;
        }

        .label {
            margin-top: 20px;
            color: black;
            font-size: 20px;
        }

        .label2 {
            margin-top: 20px;
            color: black;
            font-size: 20px;
        }

        .btncls {
            display: flex;
            justify-content: flex-end;
            flex-wrap: nowrap;
            margin-top: 80px;
            margin-bottom: 20px;
        }

        .inputPwd {
            -webkit-text-security: disc;
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #DAE0E6;
        }

        #btn {
            margin-right: 10px;
        }
    </style>
    <script>
        $(function () {
            $(".home").click(function () {
                document.location.href = "/view";
            });
        });
        $('#myDropdown').on('show.bs.dropdown', function () {
            $('.dropdown-toggle').dropdown()
        });
        $(function () {
            $('.search').click(function () {
                document.location.href = "/view";
            });
        });

        function addPost(postid) {
            var comment = new Array();
            var id = Number(postid) + 1;
            $.ajax({
                url: "/addPost",
                method: "POST",
                data: {
                    "id": id,
                    "title": document.getElementById("title").value,
                    "article": document.getElementById("post").value,
                    "date": document.getElementById("date").value,
                    "poster": document.getElementById("poster").value,
                    "comment": comment
                }
            });
            document.location.href = "/view";
        }


        var today = new Date();
        var nowYear = today.getFullYear();
        var nowMonth = today.getMonth() + 1;
        var nowDate = today.getDate();
        $(document).ready(function () {
            document.getElementById("date").value = nowYear + "." + nowMonth + "." + nowDate;
        });
    </script>
</head>

<body>
    <div class="header">
        <div class="home">
            <img src="/public/assets/home.png" width="50px">
        </div>
        <div class="search">
            <input type="text" class="searchbar" id="search" onkeyup="filter()" placeholder="Search">
            <a href="/view"><button type="submit" id="sbtn" class="btn btn-outline-secondary"
                    onclick="location='/'">search</button></a>
        </div>
        <div class="button">
            <button type="button" id="logbtn" class="btn btn-outline-secondary">Log out</button>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/public/assets/user.png" class="userimg" width="50px">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="/write">write</a></li>
                    <li><a class="dropdown-item" href="/info"> info</a></li>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="feed">
            <div class='wrap'>
                <div class="form-group">
                    <div class="label">
                        <label for="exampleFormControlInput1">TITLE</label>
                        <textarea class="form-control" id="title" type="text" rows="1" name="title" required></textarea>
                    </div>

                    <div class="label2">
                        <label for="exampleFormControlInput1"> Poster Url</label>
                    </div>
                    <div>
                        <textarea class="form-control" id="poster" type="text" rows="1" name="poster"
                            required></textarea>
                    </div>

                    <div class="label2">
                        <label for="exampleFormControlInput1"> Article</label>
                    </div>
                    <div>
                        <textarea class="form-control" id="post" type="text" rows="10" name="post" required></textarea>
                    </div>

                    <div class="label2">
                        <label for="exampleFormControlInput2"> DATE</label>
                    </div>
                    <div>
                        <textarea class="form-control" id="date" type="text" rows="1" name="nowdate"
                            required></textarea>
                    </div>
                    <div class="btncls">
                        <% num=movie.length - 1%>
                            <button id="btn" class="btn btn-outline-secondary" type="submit"
                                onclick="addPost('<%= postid = movie[num].id%>')">SAVE</button>
                            <button id="btn" class="btn btn-outline-secondary"
                                onclick="location.href='/view'">CANCEL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>