<html>

<head>
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="javaScript" src="style.css"></script>

    <title>Write Check</title>
    <style>
        .wrap {
            width: 800px;
            margin: auto;
        }

        .form-group {
            margin-top: 30px;
        }

        .label {
            margin-top: 20px;
            color: black;
            font-size: 20px;
        }

        .btncls {
            display: flex;
            justify-content: flex-end;
            flex-wrap: nowrap;
            margin-top: 80px;
            margin-bottom: 20px;
        }

        .btn {
            margin-left: 10px;
        }

        .inputPwd {
            -webkit-text-security: disc;
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #DAE0E6;
        }

        .main_container {
            border: 0px solid;
        }

        .modal {
            width: 300px;
            margin: auto;
        }
    </style>
    <script>
        $('#myDropdown').on('show.bs.dropdown', function () {
            $('.dropdown-toggle').dropdown()
        });
        $(function () {
            $(".home").click(function () {
                document.location.href = "/view";
            });
        });
        $(function () {
            $('.search').click(function () {
                document.location.href = "/view";
            });
        });

    </script>
</head>

<body>
    <div class="header">
        <div class="home">
            <img src="/public/assets/home.png" width="50px">
        </div>
        <div class="search">
            <input type="text" class="searchbar" id="search" onkeyup="filter()" placeholder="Search">
            <a href="/view"><button type="submit" class="sbtn">search</button></a>
        </div>
        <div class="button">
            <button type="button" id="logbtn" class="btn btn-primary" onclick="location='/'">Log out</button>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/public/assets/user.png" class="userimg" width="50px">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="/write">write</a></li>
                    <li><a class="dropdown-item" href="/info"> info</a></li>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="feed">
            <div class='wrap'>
                <div class="form-group">
                    <div class="label">
                        <label for="exampleFormControlInput1">TITLE</label>
                    </div>
                    <div>
                        <h5>
                            <%= title %>
                        </h5>
                    </div>
                    <hr>

                    <div class="label">
                        <label for="exampleFormControlInput1">Poster</label>
                    </div>
                    <div>
                        <h5><img src="<%= poster %>" width="800px"> </h5>
                    </div>
                    <hr>

                    <div class="label">
                        <label for="exampleFormControlInput1">Article</label>
                    </div>
                    <div>
                        <h5>
                            <%= post %>
                        </h5>
                    </div>
                    <hr>

                    <div class="label">
                        <label for="exampleFormControlInput2">DATE</label>
                    </div>
                    <div>
                        <h5>
                            <%= date %>
                        </h5>
                    </div>
                    <hr>

                    <div class="btncls">
                        <button class="btn">SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>